@using Kanelson.Domain.Rooms.Models
@inject IStringLocalizer<Shared> Loc

<div class="question-container">
    @if (Info.Question.ImageUrl != null)
    {
        <div class="question-image">
            <img src="@Info.Question.ImageUrl" alt="question image" />
        </div>
    }

    <div class="question-counter">@Loc["Question"] @Info.CurrentNumber / @Info.MaxNumber</div>
    <div class="question-text">@Info.Question.Name</div>

    <div class="question-progress">
        <div class="question-progress-fill"
             style="width: @(((double)Info.CurrentNumber / Info.MaxNumber) * 100)%">
        </div>
    </div>

    <div class="alternatives-grid">
        @for (int i = 0; i < Info.Question.Alternatives.Count; i++)
        {
            var alternative = Info.Question.Alternatives[i];
            var idx = i;
            <AlternativeComponent Alternative="alternative"
                                   OnClickCallback="AnswerClickCallback"
                                   Idx="@idx" />
        }
    </div>
</div>

@code {
    [Parameter] public CurrentQuestionInfo Info { get; set; } = null!;
    [Parameter] public EventCallback<Guid> AnswerClickCallback { get; set; }
}




