@page "/profile/history"
@using Akka.Actor
@using Akka.Hosting
@using System.Collections.Immutable
@using Kanelson.Domain.Users
@attribute [Authorize]
@inject IRequiredActor<UserHistory> UserHistoryActor
@inject IUserService UserService
@inject IStringLocalizer<Shared> Loc

@if (_history is null)
{
    <p class="k-loading">@Loc["Loading"]…</p>
}
else
{
    <div class="k-card">
        <div class="k-card__header">
            <h2 class="k-card__title">@Loc["History"]</h2>
        </div>
        <table class="k-table">
            <thead>
                <tr>
                    <th>@Loc["Room"]</th>
                    <th>@Loc["PlayedAt"]</th>
                    <th>@Loc["Placement"]</th>
                    <th>@Loc["Points"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in _history)
                {
                    <tr class="k-table__row">
                        <td>@entry.RoomName</td>
                        <td>@entry.PlayedAt.ToLocalTime().ToString("g")</td>
                        <td>
                            <span class="k-placement">@entry.Rank<span class="k-placement__sep">/</span>@entry.TotalPlayers</span>
                        </td>
                        <td><span class="k-points">@entry.Points</span></td>
                    </tr>
                }
            </tbody>
        </table>
        @if (_history.Value.IsEmpty)
        {
            <div class="k-table__empty">@Loc["NoHistory"]</div>
        }
    </div>
}

@code {
    private ImmutableArray<RoomPlacement>? _history;

    protected override async Task OnInitializedAsync()
    {
        _history = await UserHistoryActor.ActorRef.Ask<ImmutableArray<RoomPlacement>>(
            new UserHistoryQueries.GetHistory(UserService.CurrentUser));
        await base.OnInitializedAsync();
    }
}
