@using Kanelson.Contracts.Models
@using Kanelson.Actors.Rooms
@inherits BaseRoomPage

<MudList>
    
    @foreach (var user in ConnectedUsers)
    {
        <MudListItem>
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                <Avatar GithubId="@user.Id"/>
                <span>@user.Name</span>
                @if (user.Owner)
                {
                    <span class="host-identifier">[@Loc["Host"]]</span>
                }
            </MudStack>
        </MudListItem>
    }
</MudList>



@if (_roomStateMachine != null)
{
    
    @if (CurrentQuestion is not null && _roomStateMachine.IsInState(RoomStatus.Started))
    {
        <QuestionComponent Info="CurrentQuestion"/>
    }

    
    <MudCardActions>
        @if (_roomStateMachine.PermittedTriggers.Contains(RoomTrigger.Start))
        {
            <MudButton @onclick="Start" Color="Color.Primary" 
                       Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Start">@Loc["StartButton"]</MudButton>
        }
        
    
        @if (_roomStateMachine.PermittedTriggers.Contains(RoomTrigger.DisplayQuestion) && !_roomStateMachine.IsInState(RoomStatus.Finished))
        {
            <MudButton @onclick="NextQuestion" Color="Color.Primary" 
                       Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.SkipNext">@Loc["NextQuestionButton"]</MudButton>
        }
    </MudCardActions>

}
