@using Microsoft.AspNetCore.SignalR.Client
@using global::Kanelson.Contracts.Models
@using System.Collections.Immutable
@using System.Net
@using System.Timers
@using Kanelson.Actors.Rooms
@using Kanelson.Hubs
@using Kanelson.Services
@using Microsoft.AspNetCore.SignalR
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpAccessor
@implements IAsyncDisposable
<h3>Player</h3>

<MudList>
    
    @foreach (var user in _connectedUsers)
    {
        <MudListItem>
            <Avatar GithubId="@user.Id"/>  <span>@user.Name</span>
        </MudListItem>
    }
</MudList>

@if (_currentQuestion is not null && _playerStatus != PlayerStatus.Answered)
{
    @if (_timerHandle.Enabled)
    {
        <MudProgressCircular Size="Size.Large" Color="Color.Warning" Value="@_current" Max="@_max" />
    }

    
    <QuestionComponent AnswerClickCallback="@Answer" Question="@_currentQuestion"/>
}

@code {

    TemplateQuestion? _currentQuestion;
    [Parameter]
    public string RoomId { get; set; } = null!;
    private HubConnection? _hubConnection;
    private ImmutableArray<UserInfo> _connectedUsers = ImmutableArray<UserInfo>.Empty;
    private PlayerStatus _playerStatus = PlayerStatus.Answering;
    private Timer _timerHandle = new Timer(TimeSpan.FromSeconds(1));
    
    bool _disposed;
    
    private int _current = 0;
    private int _max = 0;

    protected override async Task OnParametersSetAsync()
    {
        _hubConnection = HttpAccessor.GetConnection(Navigation);
        _hubConnection.On<HashSet<UserInfo>>("CurrentUsersUpdated", (users) =>
        {
            _connectedUsers = users.ToImmutableArray();
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<ImmutableArray<UserRanking>>("RoundFinished", (ranking) =>
        {
            _timerHandle.Stop();
            var parameters = new DialogParameters { ["Ranking"]=ranking };

            InvokeAsync(() => DialogService.Show<RankingDialog>("Ranking", parameters));
            
            _currentQuestion = null;
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<TemplateQuestion>("NextQuestion", (question) =>
        {
            _currentQuestion = question;
            _current = 0;
            _max = _currentQuestion.TimeLimit;
            _timerHandle.Elapsed += TimeElapsed;
            _timerHandle.Start();
            
            _playerStatus = PlayerStatus.Answering;
            InvokeAsync(StateHasChanged);
        });
        
        await _hubConnection.StartAsync();

        await _hubConnection.SendAsync("JoinRoom", RoomId);
    }
    
    
    private async void TimeElapsed(object? sender, ElapsedEventArgs e)
    {
        _current++;
        await InvokeAsync(StateHasChanged);
    } 

    public async Task Answer(Guid answerId)
    {
        _timerHandle.Stop();
        _playerStatus = PlayerStatus.Answered;
        await _hubConnection!.SendAsync("Answer", RoomId,  answerId);
        await InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is IAsyncDisposable disposable)
        {
            await disposable.DisposeAsync();
        }
        _disposed = true;
        _timerHandle.Dispose();
    }
    
    
    private enum PlayerStatus
    {
        Answering,
        Answered
    }

}