@inherits BaseRoomPage

<MudList>
    
    @foreach (var user in ConnectedUsers)
    {
        <MudListItem>
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                <Avatar GithubId="@user.Id"/>
                <span>@user.Name</span>
                @if (user.Owner)
                {
                    <span class="host-identifier">[@Loc["Host"]]</span>
                }
            </MudStack>
        </MudListItem>
    }
</MudList>

@if (CurrentQuestion is not null && _playerStatus != PlayerStatus.Answered)
{
    @if (_timerHandle.Enabled)
    {
        <Progress Status="ProgressStatus.Active" Type="ProgressType.Circle"
                  TrailColor="#ff4d4f"
                  Percent="@_percentage" Format="Format"></Progress>
    }

    
    <QuestionComponent AnswerClickCallback="@Answer" Info="@CurrentQuestion"/>
}