@page "/room/{Id:long}"

<MudCard>
    <MudCardContent Class="room-header">
        <span class="room-identifier">@Loc["Room"]: <b>@Id</b></span>
    </MudCardContent>
    <MudCardContent>
        <div class="d-flex flex-row flex-grow-1 flex-wrap gap-3">
            <MudPaper Class="d-flex flex-initial">
               <ConnectedUsersComponent ConnectedUsers="_connectedUsers"/>
            </MudPaper>
            @if (_summary is not null)
            {
                @if (_summary.Owner.Id == UserService.CurrentUser)
                {
                    <Admin RoomId="@Id" HubConnection="_hubConnection"
                           TimerConfiguration="_timerConfig" Class="d-flex flex-1 py-9"/>
                }
                else
                {
                    <Player RoomId="@Id" HubConnection="_hubConnection"
                            TimerConfiguration="_timerConfig" Class="d-flex flex-1 py-9"/>
                }
            }
            else
            {
                <div>@Loc["Loading"]...</div>
            }
        </div>

    </MudCardContent>

</MudCard>



@code {





}