@page "/rooms"
@using System.Collections.Immutable
@using System.Threading.Channels
@using Kanelson.Components.CardRoom
@using Kanelson.Domain.Rooms
@using Kanelson.Domain.Users
@inject IRoomService Service
@inject IUserService UserService
@inject NavigationManager Navigation
@inject IStringLocalizer<Shared> Loc
@inherits ComponentBase
@implements IAsyncDisposable

@if (_rooms is null)
{
    <MudContainer class="empty-rooms">
        <h2>@Loc["Ainda não existem salas abertas"]...</h2>
        <MudButton class="empty-rooms__btn-sala">@Loc["Criar sala"]</MudButton>
    </MudContainer>
}
else
{
    <MudText Style="text-transform: uppercase" Typo="Typo.h4">@Loc["Rooms"]</MudText>
    <div style="display: flex; gap: 20px; margin-top: 20px; flex-wrap: wrap">
        @foreach (var room in _rooms)
        {
            <CardRoomComponent
                Id="@room.Id"
                RoomName="@room.Name"
                HostId="@room.OwnerId"
                RoomOwner="@(UserService.CurrentUser == room.OwnerId)"
                EnterRoomClick="@(() => JoinRoom(room.Id))"
                DeleteRoomClick="@(() => DeleteRoom(room.Id))">
            </CardRoomComponent>
        }
    </div>
}

@code {

    private ImmutableArray<BasicRoomInfo>? _rooms;
    private CancellationTokenSource _cts = new();

    protected override async Task OnInitializedAsync()
    {
        var channel = await Service.GetRoomsChannel();
        _ = RunDataPump(channel);
    }

    private async Task RunDataPump(ChannelReader<ImmutableArray<BasicRoomInfo>> reader)
    {
        try
        {
            await foreach (var rooms in reader.ReadAllAsync(_cts.Token))
            {
                _rooms = rooms;
                await InvokeAsync(StateHasChanged);
            }
        }
        catch (OperationCanceledException) { }
    }

    private void JoinRoom(string id)
    {
        Navigation.NavigateTo($"/room/{id}");
    }

    private async Task DeleteRoom(string id)
    {
        await Service.Delete(id);
    }

    public async ValueTask DisposeAsync()
    {
        await _cts.CancelAsync();
        _cts.Dispose();
    }

}
