@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Rendering
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Shared> Loc

<AuthorizeView>
    <Authorized>
        <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Spacing="1">
            <Avatar GithubId="@context.User.FindFirstValue(ClaimTypes.NameIdentifier)"/>
            <span>@context.User.Identity?.Name</span>
                    <form method="post" action="signout">
                        <MudButton ButtonType="ButtonType.Submit">Logout</MudButton>
                    </form>
        </MudStack>

    </Authorized>
    <NotAuthorized>
        <form action="/signin" method="post">
            <input type="hidden" name="Provider" value="GitHub"/>
            <input type="hidden" name="RedirectUri" value="@NavigationManager.Uri"/>
            <MudFab ButtonType="ButtonType.Submit"
                    StartIcon="@Icons.Custom.Brands.GitHub" Label="@Loc["LoginButton"]" />
        </form>
    </NotAuthorized>
</AuthorizeView>
