@inherits LayoutComponentBase
@inject IStringLocalizer<Shared> Loc
<MudThemeProvider IsDarkMode="@true" />
<MudSnackbarProvider/>
<MudDialogProvider/>

<PageTitle>Kanelson</PageTitle>
<MudLayout>
    <CascadingAuthenticationState>
        <MudAppBar Elevation="0">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
            <MudSpacer/>
            <LoginDisplay/>
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">Kanelson</MudText>
            </MudDrawerHeader>
            <NavMenu/>
        </MudDrawer>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-16">
                <AuthorizeView>
                    <Authorized> 
                        @Body
                        <MudDivider Style="margin-top: 15px"/>
                        <MudContainer Style="margin-top: 15px">
                            <div class="d-flex flex-grow-1 gap-4">
                                <MudText Class="flex-1 d-flex" Typo="Typo.body1">Copyright © @DateTime.Today.Year Kanelson.</MudText>
                                <CultureSelector Class="flex-1 d-flex"/>
                            </div>
                        </MudContainer>
                    </Authorized> 
                    <NotAuthorized> 
                        <MudText>@Loc["LoginRequired"]</MudText>
                    </NotAuthorized>
                </AuthorizeView> 
            </MudContainer>
        </MudMainContent>

    </CascadingAuthenticationState>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}



