@inject IStringLocalizer<Shared> Loc

<nav class="k-nav">
    <AuthorizeView>
        <Authorized>
            <NavLink class="k-nav__link" href="questions" Match="NavLinkMatch.Prefix">
                <MudIcon Icon="@Icons.Material.Filled.QuestionMark" Class="k-nav__icon"/>
                <span class="k-nav__label">@Loc["Questions"]</span>
            </NavLink>
            <NavLink class="k-nav__link" href="templates" Match="NavLinkMatch.Prefix">
                <MudIcon Icon="@Icons.Custom.Uncategorized.FolderOpen" Class="k-nav__icon"/>
                <span class="k-nav__label">@Loc["Templates"]</span>
            </NavLink>
            <NavLink class="k-nav__link" href="rooms" Match="NavLinkMatch.Prefix">
                <MudIcon Icon="@Icons.Material.Filled.PlayArrow" Class="k-nav__icon"/>
                <span class="k-nav__label">@Loc["Rooms"]</span>
            </NavLink>
            <NavLink class="k-nav__link" href="profile/history" Match="NavLinkMatch.Prefix">
                <MudIcon Icon="@Icons.Material.Filled.History" Class="k-nav__icon"/>
                <span class="k-nav__label">@Loc["History"]</span>
            </NavLink>
        </Authorized>
    </AuthorizeView>
</nav>
